# Cookieの失効チェック機能 (true/false)
COOKIE_CHECK_ENABLED=true

# Webhookによる通知機能 (true/false)
WEBHOOK_ENABLED=true

# Discord等のWebhook URLを設定してください
WEBHOOK_URL=https://discord.com/api/webhooks/XXXXXXXXXX/YYYYYYYYYY